html {
	font-size: 16px;
}
header {
	font-size: 1.5em;
	background-color: #164016;
	color: white;
	text-align: center;
}
/*color combo possibilities: 
#003800
#488484
#783e0f
#aa3939*/

#094848
#2b4b6f