
.beer-types{
	border: 3px solid white;
	margin-left: 5px;
}
.beer-types-list {
	position: relative;
}
.beer-types-listitem {
	margin: 20px;
	padding: 10px 0px;
}
.beer-types-listitem:hover {
	background-color: rgba(52, 52, 119, 0.8);
}
.beer-types-link {
	color: white;
}
.beer-types-link:hover {
	color:white;
}
/*gonna have to be a click event*/
.beer-types-listitem:hover .inner-list {
	display: block;
}
.inner-list {
	display:none;
	position: absolute;
	background-color: rgba(52, 52, 119, 0.9);
	/*border: 1px solid white;*/
	border-top: 0;
	height: 100%;
	margin-left: 72px;
	top:0px;
	padding: 20px;
	padding-top: 60px;
	width: 60%;
}
.inner-listitem {
	display: block;
	font-size: 1.5rem;
	text-align: center;
}
.inner-listitem a:hover {
	color:rgba(234, 220, 12, 0.8);
}







/*Gonna have to use ng-click and JS. BLARG!!!!*/
.front {
	position: absolute;
	z-index: 1;
	transition: transform 1s;
	backface-visibility: hidden;
}

.back {
	position: relative;
	transition: transform 1s;
	backface-visibility: hidden;
	transform: rotateY( 180deg);
}
.beer-flip:active .front{
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	transition: transform 1s;
	z-index: 0;
}
.beer-flip:active .back{
	transform: rotateY( 0deg) ;
	transform-style: preserve-3d;
	transition: transform 1s;
}

