<!DOCTYPE html>
<html ng-app="beerApp">
<head>
<meta charset="utf-8">
	<title>Beers ya need</title>
	 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="total.css">
  <link rel="stylesheet" type="text/css" href="beer-types.css">
  <script src="angular.min.js"></script>
</head>
<body ng-controller="beerTypeController">
<header class="head head-big"> Know where to find your beer and just need beer ideas?</header>
	<nav class= "nav">
  		<ul>
    		<li class= "nav-item button"> <a href="index.html">Home</a></li>
    		<li class= "nav-item button"> <a href="beer-types.html">Beer Types</a></li>
    		<li class= "nav-item button"> <a href="breweries.html"> Breweries/Tap Rooms</a></li>
  		</ul>
	</nav>
	

	<h3 class="head head-small"> What type of flavor are you craving?</h3>
	<!-- Add a click event, with ng-hide and show.and use filters to pull the beers per flavor -->
	<div class="beer-types">
		<ul class="beer-types-list">
			<li class="beer-types-listitem"><a href="" class="beer-types-link">Balanced</a>
				<ul class="inner-list">
					<li ng-repeat="beer in beers | filter : beer.flavor = 'Balanced'" class="inner-listitem">
						<a class="beer-types-link">{{beer.name}}</a>
					</li>
				</ul>
			</li>
			<li class="beer-types-listitem"><a href="" class="beer-types-link">Crisp</a>
				<ul class="inner-list">
					<li ng-repeat="beer in beers | filter : beer.flavor = 'Crisp'" class="inner-listitem">
						<a class="beer-types-link">{{beer.name}}</a>
					</li>
				</ul>
			</li>
			<li class="beer-types-listitem"><a href="" class="beer-types-link">Fruity</a>
				<ul class="inner-list">
					<li ng-repeat="beer in beers | filter : beer.flavor = 'Fruity'" class="inner-listitem">
						<a class="beer-types-link">{{beer.name}}</a>
					</li>
				</ul>
			</li>
			<li class="beer-types-listitem"><a href="" class="beer-types-link">Heavy</a>
				<ul class="inner-list">
					<li ng-repeat="beer in beers | filter : beer.flavor = 'Heavy'" class="inner-listitem">
						<a class="beer-types-link">{{beer.name}}</a>
					</li>
				</ul>
			</li>
			<li class="beer-types-listitem"><a href="" class="beer-types-link">Hoppy</a>
				<ul class="inner-list">
					<li ng-repeat="beer in beers | filter : beer.flavor = 'Hoppy'"class="inner-listitem">
						<a class="beer-types-link">{{beer.name}}</a>
					</li>
				</ul>
			</li>
			<li class="beer-types-listitem"><a href="" class="beer-types-link">Malty/Rich</a>
				<ul class="inner-list">
					<li ng-repeat="beer in beers | filter : beer.flavor = 'Malty/Rich'" class="inner-listitem">
						<a class="beer-types-link">{{beer.name}}</a>
					</li>
				</ul>
			</li>
			<li class="beer-types-listitem"><a href="" class="beer-types-link">Sour</a>
				<ul class="inner-list">
					<li ng-repeat="beer in beers | filter : beer.flavor = 'Sour'" class="inner-listitem">
					<a class="beer-types-link">{{beer.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
<div>
	<div class="front">
		<ul>
			<!-- added the class for when ng-click is added it will work separately. -->
			<li ng-repeat="beer in beers"  class ="beer-flip">
			
				<h3>{{beer.name}}</h3>
					<ul>
						<li ng-repeat="flavor in beer.flavors">{{flavor}}</li>
					</ul>
				<h4>{{beer.strength}}</h4>
				<!-- <ul>
					Can't make this work!!!!!!
					<li ng-repeat="picture in pictures">
						<img ng-src='{{picture}}'>
					</li>
				</ul> -->
			</li>
		</ul>
		
	</div>
	<!-- <div class="back">
		<ul>
			<li ng-repeat=>
				<img src='{{picture}}'>

			</li>
	</div> -->
</div>
   


   <script src ="beer-types.js"></script> 
</body>
</html>

<!-- look here for inspiration: -->
<!-- http://www.splendidtable.org/story/the-7-flavor-categories-of-beer-what-they-are-how-to-pair-them and http://themayorofoldtown.com/beer/ -->

<!-- maybe card flip for the different beer types and top 5?
or drop down "nav" with beers listed underneath. 

Page can jump down to each type of beer. --> 









