<!DOCTYPE html>
<html ng-app="beerApp">
<head>
<meta charset="utf-8">
	<title>Breweries are home</title>
	 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="total.css">
  <link rel="stylesheet" type="text/css" href="brewery.css">
  <script src="angular.min.js"></script>
</head>
<body ng-controller="breweryController">
<header class="head head-big">Want to get a beer from the source?</header>
	
 <div class="container-fluid">
<nav class= "nav">
  <ul class="list-unstyled">
    <div class="row">
    <li class= "nav-item button col-xs-10"> <a href="index.html">Home</a></li>
    </div>
    <div class="row">
    <li class= "nav-item button col-xs-10"> <a href="beer-types.html">Beer Types</a></li>
    </div>
    <div class="row">
    <li class= "nav-item button col-xs-10"> <a href="breweries.html"> Breweries/Tap Rooms</a></li>
    </div>
  </ul>
</nav>
</div>
  

  <div class="content">
    <h4 class="head head-small"> Boulder</h4>
    <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Boulder'">
        <h3>{{brewery.name}}</h3>
        <p>Their address is {{brewery.address}}</p>
        <p>This is their webiste {{brewery.website}}</p>
        <p> They specialize in
        <ul class="content-list">
          <li ng-repeat="specialty in brewery.specialties"> {{specialty}}
          </li>
        </ul>
        </p>
      </li>
    </ul>
  </div> 
  
  <div class="content">
    <h4 class="head head-small">Broomfield</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Broomfield'">
        <h3>{{brewery.name}}</h3>
        <p>{{brewery.address}}</p>
        <p>{{brewery.website}}</p>
        <ul class="content-list">
          <li ng-repeat="specialty in brewery.specialties">{{specialty}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="content">
    <h4 class="head head-small">Lafayette</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Lafayette'">
        <h3>{{brewery.name}}</h3>
        <p>{{brewery.address}}</p>
        <p>{{brewery.website}}</p>
        <ul class="content-list">
          <li ng-repeat="specialty in brewery.specialties">{{specialty}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="content">
    <h4 class="head head-small">Longmont</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Longmont'">
        <h3>{{brewery.name}}</h3>
        <p>{{brewery.address}}</p>
        <p>{{brewery.website}}</p>
        <ul class="content-list">
          <li ng-repeat="specialty in brewery.specialties">{{specialty}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="content">
    <h4 class="head head-small">Louisville</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Louisville'">
        <h3>{{brewery.name}}</h3>
        <p>{{brewery.address}}</p>
        <p>{{brewery.website}}</p>
        <ul class="content-list">
          <li ng-repeat="specialty in brewery.specialties">{{specialty}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="content">
    <h4 class="head head-small">Niwot</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Niwot'">
        <h3>{{brewery.name}}</h3>
        <p>{{brewery.address}}</p>
        <p>{{brewery.website}}</p>
        <ul class="content-list">
          <li ng-repeat="specialty in brewery.specialties">{{specialty}}
          </li>
        </ul>
      </li>
    </ul>
  </div>


      




      
      <!-- Within each object I need to do Name, website, specialties, highest rated beers per google? -->

<script src ="beer-types.js"></script>
<script src ="brewery.js"></script> 
</body>
</html>

  <!-- <accordion-group heading="{{breweries.name}}" ng-repeat="brewery in breweries">
      <p>{{brewery.address}}</p>
      <p>{{brewery.website}}</p>
      <p>{{brewery.specialties}}</p>
    </accordion-group> -->
