<!DOCTYPE html>
<html ng-app="beerApp">
<head>
<meta charset="utf-8">
	<title>Breweries are home</title>
	 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="total.css">
  <link rel="stylesheet" type="text/css" href="brewery.css">
  <script src="angular.min.js"></script>
</head>
<body ng-controller="breweryController">
<header class="head head-big">Want to get a beer from the source?</header>
	
  <nav class= "nav">
  		<ul>
    		<li class= "nav-item button"> <a href="index.html">Home</a></li>
        <li class= "nav-item button"> <a href="beer-types.html">Beer Types</a></li>
        <li class= "nav-item button"> <a href="breweries.html"> Breweries/Tap Rooms</a></li>
  		</ul>
	</nav>
  

  <div class="content">
    <h4 class="head head-small"> Boulder</h4>
    <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Boulder'">{{brewery.name}}</li>
    </ul>
  </div> 
  
  <div class="content">
    <h4 class="head head-small">Broomfield</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Broomfield'">{{brewery.name}}</li>
    </ul>
  </div>
  
  <div class="content">
    <h4 class="head head-small">Lafayette</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Lafayette'">{{brewery.name}}</li>
    </ul>
  </div>
  
  <div class="content">
    <h4 class="head head-small">Longmont</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Longmont'">{{brewery.name}}</li>
    </ul>
  </div>
  
  <div class="content">
    <h4 class="head head-small">Louisville</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Louisville'">{{brewery.name}}</li>
    </ul>
  </div>
  
  <div class="content">
    <h4 class="head head-small">Niwot</h4>
     <ul class="content-list">
      <li class= "content-item" ng-repeat="brewery in breweries | filter : brewery.location = 'Niwot'">{{brewery.name}}</li>
    </ul>
  </div>
      




      
      <!-- Within each object I need to do Name, website, specialties, highest rated beers per google? -->

<script src ="beer-types.js"></script>
<script src ="brewery.js"></script> 
</body>
</html>

