html {
	font-size: 14px;
	/*background-color: #f6f6f6;*/
	background-image: url(snow-beer.jpg);
		/*will need to change picture width as screen gets bigger so it doesn't repeat.*/
}
body {
	width: 100vw;
	background-color: transparent;
}
.nav {
	text-align: center;
	width: 80vw;
}
.nav-item {
	/*display: inline-block;*/
	background-color: rgba(234, 220, 12, 0.5);
	border: 1px solid rgba(234, 220, 12, 0);
	margin: 10px 0px 10px 30px;
	padding: 10px;
	list-style-type: none;
}
.head {
	background-color: rgba(52, 52, 119, 0.5);
	color: white;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px;
}
.head-big {
	font-size: 2.5rem;

}
.head-small {
	font-size: 1.5rem;
}
.select {
	color:white;
	background-color: rgba(164, 0, 0,0.7);
	width: 80vw;
	display: block;
	height: 34px;
	border-radius: 4px;
	box-sizing: content-box;
	margin-left: 10px;
}
/*Check this @ home.
.select-option {
	color:#1515bf;
}*/
.input {
	width: 50vw;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	color: white;
	margin:0vw 10vw;
	outline-color: transparent;
	outline-style: none;
}
.input:focus {
	background-color: rgba(0,0,0, 0.6);

}
.button {
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 5px;
}
.yellow-button {
	border:1px solid #1515bf;
	background-color: rgb(234, 220, 12);
	color: #1515bf;

}
.lightbox {
	position:fixed;
	z-index: 998;
	width: 100vw;
	height: 100vh;
	background-color: rgba(94, 94, 94, 0.75);
	text-align: center;
	top: 0;
	left: 0;
	
}
.lightbox-inner {
	position: relative;
	z-index: 999;
	width: 50vw;
	height: 300px;
	color: black;
	background-color: white;
	top: 20vw;
	left: 27vw;
	border: 10px solid rgb(20 , 20 , 102) ;
	padding: 5vw 10vw;
}
.lightbox-header {
	font-size: 1em;
}
.lightbox-select {
	margin: 5px;
}
.content {
	z-index: 10;
	color: white;
}
.content-list {
	list-style-type: none;
	text-align: center;
	text-shadow:   
	-1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
	
}
.content-item {
    margin: 10px 0px;

}
.beer-types{
	border: 3px solid white;
}
.beer-types-list {
	color: white;
}
.beer-types-listitem {
	border-bottom: none;
	color: white;

}


/*Card flip CSS.*/

/*.portfolio-item:hover .front{
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	transition: transform 1s;
	z-index: 0;
}
.portfolio-item:hover .back{
	transform: rotateY( 0deg) ;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.front {
	position: absolute;
	z-index: 1;
	transition: transform 1s;
	backface-visibility: hidden;
}

.back {
	position: relative;
	transition: transform 1s;
	backface-visibility: hidden;
	transform: rotateY( 180deg);
}*/


