
html {
	font-size: 14px;
	/*background-color: #f6f6f6;*/
	background-image: url(snow-beer.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: rgba(52, 52, 119, 1);
	/*background-position: center; this is for larger*/
	background-size:cover;
	text-shadow:   
	-1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;

}
body {
	background-color: transparent;
	color: white;
}
.head {
	background-color: rgba(52, 52, 119, 0.5);
	color: white;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px 0px;
}
.head-big {
	font-size: 2.5rem;

}
.head-med{
	font-size: 2rem;
}
.head-small {
	font-size: 1.5rem;
}
.button {
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 5px;
	
}
.no-padding {
	padding:0;
}
.no-margin {
	margin:0;
}
.link {
	color:white;
}
.link:hover{
	color:rgb(106, 82, 182);
}
.link-big {
	font-size: 1.3rem;
}

/*MAIN PAGE INFO*/


.select {
	color:white;
	background-color: rgba(164, 0, 0,0.7);
	display: block;
	height: 34px;
	border-radius: 4px;
	box-sizing: content-box;
	margin-left: 10px;
}

.yellow-main-button {

	margin: 40px 0px 60px 10px;
	border:1px solid #1515bf;
	background-color: rgba(234, 220, 12, 0.8);
	color: #1515bf;
	font-weight: bold;
}
.lightbox {
	position:fixed;
	z-index: 998;
	width: 100vw;
	height: 100vh;
	background-color: rgba(94, 94, 94, 0.75);
	text-align: center;
	top: 0;
	left: 0;
	
}
.lightbox-inner {
	position: relative;
	z-index: 999;
	width: 50vw;
	height: 300px;
	color: black;
	background-color: white;
	top: 20vw;
	left: 27vw;
	border: 10px solid rgb(20 , 20 , 102) ;
	padding: 5vw 10vw;
}
.lightbox-header {
	font-size: 1em;
	text-shadow:none;
}

.lightbox-btn {
	margin: 10px;
}

/*BREWERY INFO*/

.content {
	z-index: 10;
	color: white;

}

.brewery-head{
	background-color: rgba(164, 0, 0,0.7);
}
accordion span{
	font-size: 2rem;
	color: black;
}
accordion div {
	background-color: rgba(52, 52, 119, 0.5);

}
accordion h4 {
	background-color: rgba(52, 52, 119, 0.5)
}

accordion{
	background-color:black
}

